body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(marseille\ musee\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.menu {
    display: none;
    position: absolute;
    background-color: #fdfdfd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 15px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
    color: #000000;
}


.menu-icon:hover+.menu {
    display: block;
}

.menu:hover {
    display: block;
}

.menu:hover .menu-icon {
    background-color: #f9f9f9;
    /* Change background color on hover for better visibility */
}

.menu:hover .menu {
    display: block;
}

header {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;


}

header img {
    width: 5%;
    height: 5%;

}

.square {
    width: 1200px;
    height: 4140px;
    background-color: #009EDF;
    background-image: url('votre-image.jpg');
    background-size: cover;
    background-clip: content-box;
    padding: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1850px;
}

.titre {
    padding-left: 50px;

}

img {
    width: 50%;
    height: auto;
    transform: scale(0.8);
    transition: transform 0.5s ease;
}

.element {
    border: 1px solid #463c3c;
    margin: 40px;
}


img:hover {
    transform: scale(1);
}